START
PUSHN 48
PUSHI 0
ITOF
STOREL 8
PUSHI 0
ITOF
STOREL 32
PUSHI 3
ITOF
STOREL 40
PUSHS "Quantos dados deseja informar?"
WRITES
READ
ATOI
STOREL 4
PUSHL 4
PUSHI 2
SUPEQ
JZ L0
PUSHI 0
STOREL 0
L1:
L2:
PUSHS "Altura: "
WRITES
READ
ATOF
STOREL 16
PUSHL 16
PUSHI 0
ITOF
INFEQ
PUSHL 16
PUSHF 2.5
SUPEQ
ADD
PUSHI 0
SUP
JZ L3
JUMP L2
L3:
PUSHL 8
PUSHL 16
FADD
STOREL 8
PUSHL 0
PUSHI 1
ADD
STOREL 0
PUSHL 16
PUSHL 32
SUP
JZ L4
PUSHL 16
STOREL 32
JUMP L5
L4:
L5:
PUSHL 16
PUSHL 40
INF
JZ L6
PUSHL 16
STOREL 40
JUMP L7
L6:
L7:
PUSHL 0
PUSHL 4
INF
JZ L8
JUMP L1
L8:
PUSHL 8
PUSHL 4
ITOF
FDIV
STOREL 24
PUSHS "Media: "
PUSHL 24
STRF
SWAP
CONCAT
WRITES
JUMP L9
L0:
PUSHS "Quantidade invalida."
WRITES
L9:
STOP
