START
PUSHN 16
PUSHS "Digite o valor da base:"
WRITES
READ
ATOI
STOREL 0
PUSHS "Digite o valor da altura:"
WRITES
READ
ATOI
STOREL 4
PUSHL 0
PUSHL 4
MUL
PUSHF 2.0
SWAP
ITOF
SWAP
FDIV
STOREL 8
PUSHS "A area e: "
PUSHL 8
STRF
SWAP
CONCAT
WRITES
STOP
