START
PUSHN 12
PUSHI 0
STOREL 4
L0:
PUSHS "Digite um numero (negativo para sair): "
WRITES
READ
ATOI
STOREL 0
PUSHL 0
PUSHI 0
SUPEQ
JZ L1
PUSHL 0
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ L2
PUSHS " par"
STOREL 8
JUMP L3
L2:
PUSHS " impar"
STOREL 8
L3:
PUSHS "O numero "
PUSHL 0
STRI
SWAP
CONCAT
PUSHS " eh"
SWAP
CONCAT
PUSHL 8
SWAP
CONCAT
WRITES
PUSHL 4
PUSHL 0
ADD
STOREL 4
JUMP L4
L1:
L4:
PUSHL 0
PUSHI 0
INF
NOT
JZ L5
JUMP L0
L5:
PUSHS "Soma total: "
WRITES
PUSHL 4
WRITEI
STOP
