START
PUSHN 4
PUSHS "Entre com o valor de a: "
WRITES
READ
ATOI
STOREL 0
PUSHL 0
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ L0
PUSHL 0
PUSHS "e par"
SWAP
STRI
CONCAT
WRITES
JUMP L1
L0:
PUSHL 0
PUSHS "e impar"
SWAP
STRI
CONCAT
WRITES
L1:
STOP
