START
PUSHN 32
L0:
PUSHS "Digite o seu nome: "
WRITES
READ
STOREL 4
PUSHS "Digite o seu sobrenome"
WRITES
READ
STOREL 8
PUSHS "Digite a sua idade: "
WRITES
READ
ATOI
STOREL 0
PUSHS "Digite o salario: "
WRITES
READ
ATOF
STOREL 24
PUSHS "Digite o bonus: "
WRITES
READ
ATOF
STOREL 16
PUSHL 0
PUSHI 0
SUP
PUSHL 24
PUSHI 0
ITOF
SUP
MUL
PUSHL 16
PUSHI 0
ITOF
SUPEQ
MUL
JZ L1
PUSHL 4
PUSHS " "
SWAP
CONCAT
PUSHL 8
SWAP
CONCAT
PUSHS ":"
SWAP
CONCAT
STOREL 12
PUSHL 12
WRITES
PUSHS "Salario liquido: "
WRITES
PUSHL 24
WRITEF
JUMP L2
L1:
L2:
PUSHL 0
PUSHI 0
INFEQ
PUSHL 24
PUSHI 0
ITOF
INFEQ
ADD
PUSHI 0
SUP
PUSHL 16
PUSHI 0
ITOF
INF
ADD
PUSHI 0
SUP
NOT
JZ L3
JUMP L0
L3:
STOP
