START
PUSHN 32
PUSHS "Digite um numero"
WRITES
READ
ATOF
STOREL 0
PUSHS "Digite outro numero: "
WRITES
READ
ATOF
STOREL 8
PUSHS "Digite mais um numero: "
WRITES
READ
ATOF
STOREL 16
PUSHI 0
ITOF
STOREL 24
PUSHL 0
PUSHL 8
SUP
PUSHL 0
PUSHL 16
SUP
MUL
JZ L0
PUSHL 0
STOREL 24
JUMP L1
L0:
PUSHL 8
PUSHL 16
SUP
JZ L2
PUSHL 8
STOREL 24
JUMP L3
L2:
PUSHL 16
STOREL 24
L3:
L1:
PUSHS "O maior numero e: "
WRITES
PUSHL 24
WRITEF
STOP
